@charset "utf-8";

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  background: #fff;
  color: #666;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

h1 {
  text-align: center;
  font-size: 175%;	
  width: 100%;
  height: 100px;
  line-height: 40px;
  margin: 0;
  padding-top: 20px;
  background-color: #01DFD7;
  color: #fff;
}

h1 + p {
  margin: 5px 0;
}

a {
  color: #bbb;
  text-decoration: underline;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: transparent;
}

body > p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 90%;
  height: 28px;
  margin: auto;
  padding: 2px 10px;
  border: 1px solid #ddd;
  border-radius: 7px;
  display: block;
  font-size: 16px;
  vertical-align: middle;
  -webkit-appearance: none;
}

#input-ecsid {
  margin-bottom: 20px;
}

form {
  padding: 0 5px;
}

form p {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 3px;
}

input + p:not(.right) {
  margin-top: 5px3
}

p.right {
  text-align: right;
  font-size: 16px;
  font-style: italic;
  color: #bbb;
}

div.center {
  text-align: center;
}

input[type="submit"] {
  width: 70%;
  height: 48px;
  border-width: 0;
  margin-top: 20px;
  background: #3af;
  color: #fff;
}

input[disabled="disabled"] {
  background: #bbb;
}

#policy {
  display: block;
  font-size: 12px;
  color: #bbb;
  padding-left: 3px;
  padding-right: 3px;
}

#policy ul {
  padding: 0 5px;
}

#policy li {
  list-style-type: none;
}

h2 {
  margin-left: 10px;
}

img.screen {
  width: 95%;
  margin-top 10px;
  margin-bottom: 0;
  margin-left: 2.5%;
  max-width: 640px;
}

img.logo {
  height: 60px;
  margin-top 15px;
  margin-bottom 0px;
}

.ads {
  text-align: center;
  margin: 10px 0;
  padding: 0;
}
